.header-container {
    background-color: #ffffff;
    height: 80px;
    display: flex;
    width: 100%;

    & .header-contents {
        display: flex;
        align-items: center;
        width: 100%;
        & .logo-search {
            display: flex;
            align-items: center;
            width: 50%;
            margin-left: 60px;
            justify-content: space-between;
        }
        & .right-section {
            width: 50%;
            display: flex;
            justify-content: flex-end;
            & .avatar-profile {
                display: flex;
                width: 200px;
                align-items: center;
                margin-left: 9%;

            }
        }
        & .search-icon {
            position: absolute;
            top: 0px;
            right: 0px;
            cursor: pointer;
            z-index: 1;
        }
    }



}